{% extends name %}


{% block pub_active %}
    active
{% endblock %}

{% block main %}
    <h2 class="sub-header">部门列表</h2>
    <div style="margin: 20px">
        <a href="{% url 'depart_add' %}" class="btn btn-sm btn-primary"> 添加 </a>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>部门名称</th>
                <th>职责</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for depart in all_depart %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ depart.pk }}</td>
                    <td>{{ depart.name }}</td>
                    <td>{{ depart.desc|default:"暂无" }}</td>
                    <td>
                        <a href="{% url 'depart_edit' depart.pk %}"> <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                        </a>
                        <a class="del" del_id="{{ depart.pk }}" style="color: red"> <i class="fa fa-trash-o fa-lg"
                                                                                       aria-hidden="true"></i> </a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>

        </table>
    </div>
{% endblock %}

{% block js %}
    <script>

        $('.del').click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    console.log($(this).attr('del_id'))
                    //  发请求到后端删除数据
                    $.ajax({
                        url: '/crm/depart/del/' + $(this).attr('del_id'),
                        type: 'get',
                        success: (res) => {
                            if (res.status) {
                                swal('文件删除错误');
                            } else {
                                // 删除成功
                                swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                                // 在页面删除对应数据
                                $(this).parent().parent().remove()
                            }
                        }
                    })
                } else {

                    swal("Your imaginary file is safe!");
                }
            });
        })
    </script>
{% endblock %}
