{% extends name %}

{% block pub_active %}ram_user_active{% endblock %}

{% block main %}
    <h2 class="sub-header">子账号列表</h2>
    <div style="margin: 20px">
        <a href="{% url 'ram_user_add' %}" class="btn btn-sm btn-primary"> 添加 </a>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>子账号名称</th>
                <th>子账号备注</th>
                <th>子账号权限</th>
                <th>子手机号</th>
                <th>邮箱</th>
                <th>主账号</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>

            {% for aliyun_user_list in Aliyun_Ram_User %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ aliyun_user_list.pk }}</td>
                    <td>{{ aliyun_user_list.ram_user_name }}</td>
                    <td>{{ aliyun_user_list.ram_display_name }}</td>
                    <td>{{ aliyun_user_list.ram_auth }}</td>
                    <td>{{ aliyun_user_list.ram_phone }}</td>
                    <td>{{ aliyun_user_list.ram_mail }}</td>
                    <td>{{ aliyun_user_list.aliyun_user_name }}</td>
                    <td>{{ aliyun_user_list.ram_comment }}</td>
{#                    <td>{{ aliyun_user_list.AccessKeySecret|default:"暂无" }}</td>#}
{#                    <td>#}
{#                        <a href="{% url 'depart_edit' depart.pk %}"> <i class="fa fa-edit fa-lg" aria-hidden="true"></i>#}
{#                        </a>#}
{#                        <a class="del" del_id="{{ depart.pk }}" style="color: red"> <i class="fa fa-trash-o fa-lg"#}
{#                                                                                       aria-hidden="true"></i> </a>#}
{#                    </td>#}
                </tr>
            {% endfor %}


            </tbody>

        </table>
    </div>
{% endblock %}
{##}
{#{% block js %}#}
{#    <script>#}
{##}
{#        $('.del').click(function () {#}
{#            swal({#}
{#                title: "Are you sure?",#}
{#                text: "Once deleted, you will not be able to recover this imaginary file!",#}
{#                icon: "warning",#}
{#                buttons: true,#}
{#                dangerMode: true,#}
{#            }).then((willDelete) => {#}
{#                if (willDelete) {#}
{##}
{#                    console.log($(this).attr('del_id'))#}
{#                    //  发请求到后端删除数据#}
{#                    $.ajax({#}
{#                        url: '/crm/depart/del/' + $(this).attr('del_id'),#}
{#                        type: 'get',#}
{#                        success: (res) => {#}
{#                            if (res.status) {#}
{#                                swal('文件删除错误');#}
{#                            } else {#}
{#                                // 删除成功#}
{#                                swal("Poof! Your imaginary file has been deleted!", {#}
{#                                    icon: "success",#}
{#                                });#}
{#                                // 在页面删除对应数据#}
{#                                $(this).parent().parent().remove()#}
{#                            }#}
{#                        }#}
{#                    })#}
{#                } else {#}
{##}
{#                    swal("Your imaginary file is safe!");#}
{#                }#}
{#            });#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}

