<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿里云子账号管理平台</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/dsb.css">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %} "/>
{#    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>#}
    {% block css %}{% endblock %}

</head>
<body>

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% block pub_active %} {% endblock %}"><a href="{% url 'aliyun_user_list' %}">主账号列表 <span
                        class="sr-only">(current)</span></a></li>
                <li class="{% block ram_user_active %} {% endblock %}"><a href="{% url 'ram_user_list' %}">子账号列表<span
                        class="sr-only">(current)</span></a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block  main %}

            {% endblock %}
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/ajaxsetup.js' %}"></script>
<script src="{% static 'js/sweetalert.js' %}"></script>

{% block js %}{% endblock %}
</body>
</html>