{% extends 'base.html' %}


{% block content %}

    {% load my_tags %}
    {% load rbac %}

    {% if request|has_permission:'host_add' %}
        <a href="{% reverse_url request 'host_add' %}" class="btn btn-sm btn-primary">添加</a>
    {% endif %}


    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>主机名</th>
            <th>IP</th>
            <th>业务线</th>

            {% if request|has_permission:'host_edit' or request|has_permission:'host_del' %}

                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for host in all_host %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ host.pk }}</td>
                <td>{{ host.name }}</td>
                <td>{{ host.ip }}</td>
                <td>{{ host.bus }}</td>

                {% if request|has_permission:'host_edit' or request|has_permission:'host_del' %}

                    <td>
                        {% if request|has_permission:'host_edit' %}
                            <a href="{% reverse_url request 'host_edit' host.pk %}"
                               class="btn btn-sm btn-primary">编辑</a>
                        {% endif %}

                        {% if request|has_permission:'host_del' %}
                            <a href="" class="btn btn-sm btn-danger">删除</a>
                        {% endif %}

                    </td>
                {% endif %}

            </tr>

        {% endfor %}


        </tbody>
    </table>




    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_html }}
        </ul>
    </nav>


{% endblock %}